.maince {
 
  margin: auto;
  color: white;
  background-color: #000099;
  padding: 3px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/bg_map_tiancheng.png);
  background-size: auto 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
  width: 1280px;
  
  
}

.maince1 {
  margin: auto;
  color: white;
  background-color: #000000;
  padding: 10px;
  text-align: left;
  width: 1280px;



}

.maince2 {
 
  margin: auto;
  color: white;
  background-color: #000099;
  padding: 3px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/bg_story_tiancheng1.png);
  background-size: auto 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
  width: 1280px;
  border-spacing: 10px;
  
  
}

.pict1 {

  width: 1280px;
}




body {
  background-color: #b8c1c9;
  text-align: center;
  text-stroke: 1px #FFFFFF;
    font: 16pt Helvetica; 
    font-weight: 500; 
   } 

   .chapter {
background-color: #3c3838;
width: 1300px;
margin: auto;
padding: 10px;
margin-top: 10px;

   }

  .title-1 {
    color:white;
    text-align: center;
    font-weight: bold;
    font: 20pt Helvetica;
  }

  .port {
  width: 116px;
  color: #FF0000;
  font: 16pt Helvetica;
  font-weight: 700;

}

.portblue {
  border: 2px solid #6699FF;
}

.portbluex {
  color: #6699FF;
  font: 16pt Helvetica;
  font-weight: 700;
}


.portred {
  border: 2px solid #FF0000;

}

.words {
 text-align: left;
} 

.wordsleft {
 text-align: left;
}

.wordsright {
 text-align: right;
}  

.nameblue {
  color: #6699FF;
  font: 16pt Helvetica;
  font-weight: 700;
}

.namered {
  color: #FF0000;
  font: 16pt Helvetica;
  font-weight: 700;
}

.loc {
 text-align: center; 
}

.pict {
width: auto;
}

.main {
  width: 100%;
