.t1 {
  position: fixed;
        top: 0; 
        left: 0; 
        background: #333333;
        color: #ffffff;
        font: 20pt Helvetica;
}


#demo {
        
         font: 20pt Helvetica;
         margin: 5px;
         padding: 8px;

         
     }

    #demo .wrapper {
        display: inline-block;
        width: 100%;
        height: 100%;
              

    }
    
    #demo .parent {
        height: 100%;
        width: 100%;
        display: inline-block;
        cursor: pointer;
        line-height: 50px;
        border-radius: 5px;
        background: #333333;
        border: 1px solid #AAA;
        border-bottom: 1px solid #777;
        color: #ffffff;
        font-weight: bold;
        z-index: 2;
        position: relative;
        -webkit-transition-delay: .8s;
        text-align: center;
    }
    
    
    
    
    
    #demo .content {
      left: 0;
        position: absolute;
        display: block;
        z-index: 1;
        height: 0;
        width: 30%;
        padding-top: 50px;
        -webkit-transition: height .5s ease;
        -webkit-transition-delay: .4s;
        box-shadow: 0 1px 2px rgba(0,0,0,.4);
    }
    
    #demo .wrapper:active .content {
        height: 680px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    #demo .content:hover {
        height: 680px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    
    #demo .content ul {
        background: #333;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    #demo .content ul a {
        text-decoration: none;
    }
    
    #demo .content li:hover {
        background: #eee;
        color: #444;
    }

    html {
scroll-behavior: smooth;
}

    
    #demo .content li {
        list-style: none;
        text-align: left;
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        height: 30px;
        padding-left: 10px;
        border-top: 1px solid #ccc;
    }
    
    #demo .content li:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }


    .ttt {
     font: 20pt Helvetica;
    width: 100%;
    height: 40px;
    color: #ffffff;
    background-color: #333;
     
    }

    td.list   {
      width: 30%;
      text-align: left;
      font: 16pt Helvetica;
    }
    td.list1   {
     text-align: center;
    }

    .t1 {
      width: 100%;
      text-align: center;
    }

.maince {
 
  margin: auto;
  color: white;
  background-color: #000099;
  padding: 3px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/bg_map_tiancheng.png);
  background-size: auto 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
  width: 1280px;
  
  
}

.maince1 {
  margin: auto;
  color: white;
  background-color: #000000;
  padding-left: 20%;
  text-align: left;
  width: 1280px;



}

.maince2 {
 
  margin: auto;
  color: white;
  background-color: #000099;
  padding: 3px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/bg_story_tiancheng1.png);
  background-size: auto 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
  width: 1280px;
  border-spacing: 10px;
  
  
}


.maince3 {
 
  margin: auto;
  color: white;
  background-color: #000099;
  padding: 3px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/bg_story_tiancheng2.png);
  background-size: auto 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
  width: 1280px;
  border-spacing: 10px;
  
  
}

.maince4 {
 
  margin: auto;
  color: white;
  background-color: #000099;
  padding: 3px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/bg_story_tiancheng3.png);
  background-size: auto 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
  width: 1280px;
  border-spacing: 10px;
  
  
}

.maince5 {
 
  margin: auto;
  color: white;
  background-color: #000099;
  padding: 3px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/bg_story_tiancheng4.png);
  background-size: auto 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
  width: 1280px;
  border-spacing: 10px;
  
  
}

.maince6 {
 
  margin: auto;
  color: white;
  background-color: #000099;
  padding: 3px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/bg_story_tiancheng6.png);
  background-size: auto 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
  width: 1280px;
  border-spacing: 10px;
  
  
}

.pict1 {

  width: 1280px;
}

.blob {

background-image: linear-gradient(180deg,rgba(213,254,255,0.2),rgba(213,254,255,0.2))

}


body {
  background-color: #b8c1c9;
  text-align: center;
  text-stroke: 1px #FFFFFF;
    font: 16pt Helvetica; 
    font-weight: 500; 
   } 

   .chapter {
background-color: #3c3838;
width: 1300px;
margin: auto;
padding: 10px;
margin-top: 10px;

   }

  .title-1 {
    color:white;
    text-align: center;
    font-weight: bold;
    font: 20pt Helvetica;
  }

  .port {
  width: 116px;
  color: #FF0000;
  font: 16pt Helvetica;
  font-weight: 700;

}

.portblue img {
  border: 2px solid #6699FF;
}

.portblue {
  width: 116px;
  color: #6699FF;
  font: 16pt Helvetica;
  font-weight: 700;
}

.portwhite {
  width: 116px;
  color: #FFFFFF;
  font: 16pt Helvetica;
  font-weight: 700;
}


.portred img {
  border: 2px solid #FF0000;

}

.portred {
  width: 116px;
  color: #FF0000;
  font: 16pt Helvetica;
  font-weight: 700;

}

.words {
 text-align: left;
 padding: 1.5%;
} 


.nameblue {
  color: #6699FF;
  font: 16pt Helvetica;
  font-weight: 700;
}

.namered {
  color: #FF0000;
  font: 16pt Helvetica;
  font-weight: 700;
}

.loc {
 text-align: center; 
}

.pict {
width: auto;
}

.main {
  width: 100%;

