.maince {
 
  margin: auto;
  color: white;
  background-color: #000099;
  padding: 3px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/bg_map_tiancheng.png);
  background-size: auto 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
  width: 1280px;
  
  
}

.maince1 {
  margin: auto;
  color: white;
  background-color: #000000;
  padding-left: 20%;
  text-align: left;
  width: 1280px;



}

.maince2 {
 
  margin: auto;
  color: white;
  background-color: #000099;
  padding: 3px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/bg_story_tiancheng1.png);
  background-size: auto 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
  width: 1280px;
  border-spacing: 10px;
  
  
}


.maince3 {
 
  margin: auto;
  color: white;
  background-color: #000099;
  padding: 3px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/bg_story_tiancheng2.png);
  background-size: auto 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
  width: 1280px;
  border-spacing: 10px;
  
  
}

.maince4 {
 
  margin: auto;
  color: white;
  background-color: #000099;
  padding: 3px;
  background-image: linear-gradient(180deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./img/bg_story_tiancheng3.png);
  background-size: auto 100%;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
  width: 1280px;
  border-spacing: 10px;
  
  
}

.pict1 {

  width: 1280px;
}

.blob {

background-image: linear-gradient(180deg,rgba(213,254,255,0.2),rgba(213,254,255,0.2))

}


body {
  background-color: #b8c1c9;
  text-align: center;
  text-stroke: 1px #FFFFFF;
    font: 16pt Helvetica; 
    font-weight: 500; 
   } 

   .chapter {
background-color: #3c3838;
width: 1300px;
margin: auto;
padding: 10px;
margin-top: 10px;

   }

  .title-1 {
    color:white;
    text-align: center;
    font-weight: bold;
    font: 20pt Helvetica;
  }

  .port {
  width: 116px;
  color: #FF0000;
  font: 16pt Helvetica;
  font-weight: 700;

}

.portblue img {
  border: 2px solid #6699FF;
}

.portblue {
  color: #6699FF;
  font: 16pt Helvetica;
  font-weight: 700;
}


.portred img {
  border: 2px solid #FF0000;

}

.portred {
  color: #FF0000;
  font: 16pt Helvetica;
  font-weight: 700;

}

.words {
 text-align: left;
 padding: 1.5%;
} 


.nameblue {
  color: #6699FF;
  font: 16pt Helvetica;
  font-weight: 700;
}

.namered {
  color: #FF0000;
  font: 16pt Helvetica;
  font-weight: 700;
}

.loc {
 text-align: center; 
}

.pict {
width: auto;
}

.main {
  width: 100%;
